@font-face {
  font-family: "SBSansInterfaceBold";
  src: url("/static/fonts/SBSansUI-Bold.eot");
  src: url("/static/fonts/SBSansUI-Bold.eot?#iefix") format("embedded-opentype"), url("/static/fonts/SBSansUI-Bold.woff2") format("woff2"), url("/static/fonts/SBSansUI-Bold.woff") format("woff"), url("/static/fonts/SBSansUI-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SBSansInterfaceCaps";
  src: url("/static/fonts/SBSansUI-Caps.eot");
  src: url("/static/fonts/SBSansUI-Caps.eot?#iefix") format("embedded-opentype"), url("/static/fonts/SBSansUI-Caps.woff2") format("woff2"), url("/static/fonts/SBSansUI-Caps.woff") format("woff"), url("/static/fonts/SBSansUI-Caps.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SBSansInterfaceLight";
  src: url("/static/fonts/SBSansUI-Light.eot");
  src: url("/static/fonts/SBSansUI-Light.eot?#iefix") format("embedded-opentype"), url("/static/fonts/SBSansUI-Light.woff2") format("woff2"), url("/static/fonts/SBSansUI-Light.woff") format("woff"), url("/static/fonts/SBSansUI-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SBSansInterfaceRegular";
  src: url("/static/fonts/SBSansUI-Regular.eot");
  src: url("/static/fonts/SBSansUI-Regular.woff2") format("woff2"), url("/static/fonts/SBSansUI-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SBSansInterfaceSemibold";
  src: url("/static/fonts/SBSansUI-Semibold.eot");
  src: url("/static/fonts/SBSansUI-Semibold.eot?#iefix") format("embedded-opentype"), url("/static/fonts/SBSansUI-Semibold.woff2") format("woff2"), url("/static/fonts/SBSansUI-Semibold.woff") format("woff"), url("/static/fonts/SBSansUI-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SBSansTextThin";
  src: url("/static/fonts/SBSansText-Thin.eot");
  src: url("/static/fonts/SBSansText-Thin.eot?#iefix") format("embedded-opentype"), url("/static/fonts/SBSansText-Thin.woff2") format("woff2"), url("/static/fonts/SBSansText-Thin.woff") format("woff"), url("/static/fonts/SBSansText-Thin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SBSansTextSemiBoldItalic";
  src: url("/static/fonts/SBSansText-SemiBoldItalic.eot");
  src: url("/static/fonts/SBSansText-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("/static/fonts/SBSansText-SemiBoldItalic.woff2") format("woff2"), url("/static/fonts/SBSansText-SemiBoldItalic.woff") format("woff"), url("/static/fonts/SBSansText-SemiBoldItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SBSansTextSemibold";
  src: url("/static/fonts/SBSansText-Semibold.eot");
  src: url("/static/fonts/SBSansText-Semibold.eot?#iefix") format("embedded-opentype"), url("/static/fonts/SBSansText-Semibold.woff2") format("woff2"), url("/static/fonts/SBSansText-Semibold.woff") format("woff"), url("/static/fonts/SBSansText-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SBSansTextRegular";
  src: url("/static/fonts/SBSansText-Regular.eot");
  src: url("/static/fonts/SBSansText-Regular.eot?#iefix") format("embedded-opentype"), url("/static/fonts/SBSansText-Regular.woff2") format("woff2"), url("/static/fonts/SBSansText-Regular.woff") format("woff"), url("/static/fonts/SBSansText-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SBSansTextMonoRegular";
  src: url("/static/fonts/SBSansTextMono-Regular.eot");
  src: url("/static/fonts/SBSansTextMono-Regular.eot?#iefix") format("embedded-opentype"), url("/static/fonts/SBSansTextMono-Regular.woff2") format("woff2"), url("/static/fonts/SBSansTextMono-Regular.woff") format("woff"), url("/static/fonts/SBSansTextMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SBSansTextMonoBold";
  src: url("/static/fonts/SBSansTextMono-Bold.eot");
  src: url("/static/fonts/SBSansTextMono-Bold.eot?#iefix") format("embedded-opentype"), url("/static/fonts/SBSansTextMono-Bold.woff2") format("woff2"), url("/static/fonts/SBSansTextMono-Bold.woff") format("woff"), url("/static/fonts/SBSansTextMono-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SBSansTextMedium";
  src: url("/static/fonts/SBSansText-Medium.eot");
  src: url("/static/fonts/SBSansText-Medium.eot?#iefix") format("embedded-opentype"), url("/static/fonts/SBSansText-Medium.woff2") format("woff2"), url("/static/fonts/SBSansText-Medium.woff") format("woff"), url("/static/fonts/SBSansText-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SBSansTextLightItalic";
  src: url("/static/fonts/SBSansText-LightItalic.eot");
  src: url("/static/fonts/SBSansText-LightItalic.eot?#iefix") format("embedded-opentype"), url("/static/fonts/SBSansText-LightItalic.woff2") format("woff2"), url("/static/fonts/SBSansText-LightItalic.woff") format("woff"), url("/static/fonts/SBSansText-LightItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SBSansTextLight";
  src: url("/static/fonts/SBSansText-Light.eot");
  src: url("/static/fonts/SBSansText-Light.eot?#iefix") format("embedded-opentype"), url("/static/fonts/SBSansText-Light.woff2") format("woff2"), url("/static/fonts/SBSansText-Light.woff") format("woff"), url("/static/fonts/SBSansText-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SBSansTextItalic";
  src: url("/static/fonts/SBSansText-Italic.eot");
  src: url("/static/fonts/SBSansText-Italic.eot?#iefix") format("embedded-opentype"), url("/static/fonts/SBSansText-Italic.woff2") format("woff2"), url("/static/fonts/SBSansText-Italic.woff") format("woff"), url("/static/fonts/SBSansText-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SBSansTextHeavy";
  src: url("/static/fonts/SBSansText-Heavy.eot");
  src: url("/static/fonts/SBSansText-Heavy.eot?#iefix") format("embedded-opentype"), url("/static/fonts/SBSansText-Heavy.woff2") format("woff2"), url("/static/fonts/SBSansText-Heavy.woff") format("woff"), url("/static/fonts/SBSansText-Heavy.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SBSansTextCapsRegular";
  src: url("/static/fonts/SBSansTextCaps-Regular.eot");
  src: url("/static/fonts/SBSansTextCaps-Regular.eot?#iefix") format("embedded-opentype"), url("/static/fonts/SBSansTextCaps-Regular.woff2") format("woff2"), url("/static/fonts/SBSansTextCaps-Regular.woff") format("woff"), url("/static/fonts/SBSansTextCaps-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SBSansTextCapsBold";
  src: url("/static/fonts/SBSansTextCaps-Bold.eot");
  src: url("/static/fonts/SBSansTextCaps-Bold.eot?#iefix") format("embedded-opentype"), url("/static/fonts/SBSansTextCaps-Bold.woff2") format("woff2"), url("/static/fonts/SBSansTextCaps-Bold.woff") format("woff"), url("/static/fonts/SBSansTextCaps-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SBSansTextBoldItalic";
  src: url("/static/fonts/SBSansText-BoldItalic.eot");
  src: url("/static/fonts/SBSansText-BoldItalic.eot?#iefix") format("embedded-opentype"), url("/static/fonts/SBSansText-BoldItalic.woff2") format("woff2"), url("/static/fonts/SBSansText-BoldItalic.woff") format("woff"), url("/static/fonts/SBSansText-BoldItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SBSansTextBold";
  src: url("/static/fonts/SBSansText-Bold.eot");
  src: url("/static/fonts/SBSansText-Bold.eot?#iefix") format("embedded-opentype"), url("/static/fonts/SBSansText-Bold.woff2") format("woff2"), url("/static/fonts/SBSansText-Bold.woff") format("woff"), url("/static/fonts/SBSansText-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SBSansScreen";
  src: url("/static/fonts/SBSansScreen.eot");
  src: url("/static/fonts/SBSansScreen.eot?#iefix") format("embedded-opentype"), url("/static/fonts/SBSansScreen.woff2") format("woff2"), url("/static/fonts/SBSansScreen.woff") format("woff"), url("/static/fonts/SBSansScreen.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SBSansDisplayThin";
  src: url("/static/fonts/SBSansDisplay-Thin.eot");
  src: url("/static/fonts/SBSansDisplay-Thin.eot?#iefix") format("embedded-opentype"), url("/static/fonts/SBSansDisplay-Thin.woff2") format("woff2"), url("/static/fonts/SBSansDisplay-Thin.woff") format("woff"), url("/static/fonts/SBSansDisplay-Thin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SBSansDisplaySemiBold";
  src: url("/static/fonts/SBSansDisplay-SemiBold.eot");
  src: url("/static/fonts/SBSansDisplay-SemiBold.eot?#iefix") format("embedded-opentype"), url("/static/fonts/SBSansDisplay-SemiBold.woff2") format("woff2"), url("/static/fonts/SBSansDisplay-SemiBold.woff") format("woff"), url("/static/fonts/SBSansDisplay-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SBSansDisplayRegular";
  src: url("/static/fonts/SBSansDisplay-Regular.eot");
  src: url("/static/fonts/SBSansDisplay-Regular.eot?#iefix") format("embedded-opentype"), url("/static/fonts/SBSansDisplay-Regular.woff2") format("woff2"), url("/static/fonts/SBSansDisplay-Regular.woff") format("woff"), url("/static/fonts/SBSansDisplay-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SBSansDisplayLight";
  src: url("/static/fonts/SBSansDisplay-Light.eot");
  src: url("/static/fonts/SBSansDisplay-Light.eot?#iefix") format("embedded-opentype"), url("/static/fonts/SBSansDisplay-Light.woff2") format("woff2"), url("/static/fonts/SBSansDisplay-Light.woff") format("woff"), url("/static/fonts/SBSansDisplay-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SBSansDisplayBold";
  src: url("/static/fonts/SBSansDisplay-Bold.eot");
  src: url("/static/fonts/SBSansDisplay-Bold.eot?#iefix") format("embedded-opentype"), url("/static/fonts/SBSansDisplay-Bold.woff2") format("woff2"), url("/static/fonts/SBSansDisplay-Bold.woff") format("woff"), url("/static/fonts/SBSansDisplay-Bold.ttf") format("truetype") npm;
  font-weight: normal;
  font-style: normal;
}/*# sourceMappingURL=fonts.css.map */